*.bak
dpe_drupal.tar.bz2*
.DS_Store
*.iml
*.orig
*.pyc
roles/apache2
roles/container-builder-iam
roles/dpe.composer
roles/dpe.drupal.apache2
roles/dpe.drupal.deploy
roles/ec2_instance
roles/ec2_lookup
roles/elasticache
roles/elasticcache
roles/elasticsearch
roles/elasticsearch_maintenance
roles/filebeat
roles/iam
roles/iam_user
roles/kibana
roles/openvpn_as
roles/php7
roles/postfix
roles/pritunl
roles/s3_buckets
roles/s3_events
roles/sendy
roles/test_*
roles/weave-db-restore
roles/xvt-libsodium
roles/xvt-pip
roles/xvt-swapfile
roles/xvt-ubuntu-common
roles/cloudtrail_region
roles/logstash
roles/xvt-java
roles/xvt-rsyslog
roles/xvt-psql
roles/ec2_asg
roles/ec2_asg_target_group
roles/lookup_artifacts
*.swo
*.swp
tests/test-*
.tmp/
variable_files/pritunl/dpe-non-prod/pritunl-helper/*
